<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>z0</key>
<dict>
<key>frame</key>
<string>{{0,17},{128,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,17},{128,111}}</string>
<key>sourceSize</key>
<string>{128,111}</string>
</dict>
<key>z1</key>
<dict>
<key>frame</key>
<string>{{128,25},{128,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{128,25},{128,102}}</string>
<key>sourceSize</key>
<string>{128,102}</string>
</dict>
<key>z2</key>
<dict>
<key>frame</key>
<string>{{0,145},{127,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,145},{127,110}}</string>
<key>sourceSize</key>
<string>{127,110}</string>
</dict>
<key>z3</key>
<dict>
<key>frame</key>
<string>{{128,142},{128,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{128,142},{128,112}}</string>
<key>sourceSize</key>
<string>{128,112}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>finish.png</string>
<key>size</key>
<string>{256,256}</string>
<key>TextureFileName</key>
<string>finish.png</string>
</dict>
</dict>
</plist>
